// COLORS

$base-black: #00060d;
$white: #ffffff;
$cream-white: #f2f1ef;
$royal-blue: #5e6a87;
$gold: #b08401;
$purple: #8b5cf6;
$gas-black: #00060d;

$all-colors: (
  white: $white,
  base-black: $base-black,
  purple: $purple,
  cream-white: $cream-white,
  royal-blue: $royal-blue,
  gold: $gold,
  gas-black: $gas-black,
);
