.rectangle {
  @media (min-width: $breakpoint-lg) {
    height: 350px;
    width: 250px;
    border-radius: 12px;
    text-wrap: wrap;
    position: relative;
  }
}

.primaryCard {
  background-color: rgba(#8839ef, 0.7);
}

.secondaryCard {
  background-color: rgba(#5f98d1, 0.7);
}

.tertiaryCard {
  background-color: rgba(#39ef9a, 0.7);
}

.primaryText {
  color: #8839ef;
}

.secondaryText {
  color: #5f98d1;
}

.tertiaryText {
  color: #39ef9a;
}

.mainText {
  font-size: 32px;
  font-weight: 700;
}

.iconWrapper {
  bottom: -20px;
  right: -200px;
  z-index: -1;
  @media (min-width: $breakpoint-lg) {
    bottom: -20px;
    left: -100px;
    z-index: auto;
  }
}

.price {
  font-weight: 700;
}
