.card {
  border-radius: 12px;
  height: 100%;
  transition: 0.3s linear;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px;
  &:hover {
    transition: 0.3s linear;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px,
      rgba(17, 17, 26, 0.1) 0px 24px 80px;
  }
}

.imageWrapper {
  height: 450px;
  width: 100%;
  padding: 16px 16px 0 16px;
  transition: 0.3s linear;

  &:hover {
    padding: 8px 8px 0 8px;
    transition: 0.3s linear;
  }
}
.productImage {
  object-fit: contain;
  width: 100%;
}

.priceWrapper {
  top: 16px;
  right: 0;
  border-radius: 6px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  font-weight: 700;
}

.wifiWrapper {
  object-fit: contain;
}

.link {
  font-weight: 700;
  transition: 0.3s linear;

  &:hover {
    color: $gold;
    transition: 0.3s linear;
  }
}
